name: C++ CMake CI

on:
  pull_request:
    branches: [ "master" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug

jobs:
  build:
      name: Test build
      # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
      # You can convert this to a matrix build if you need cross-platform coverage.
      # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
      runs-on: windows-latest
  
      steps:
        - name: Support longpaths
          run: git config --system core.longpaths true
  
        - uses: actions/checkout@v3
          with:
            submodules: recursive
  
        - name: Install vcpkg packages
          run: vcpkg integrate install
  
        - name: Configure CMake
          # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
          # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
          run: cmake -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -B  ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
  
        - name: Build
          # Build your program with the given configuration
          run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}     
          
        - name: Create Symbolic Link To Resources
          run: New-Item -ItemType SymbolicLink -Path "${{github.workspace}}/build/Debug/res" -Target "${{github.workspace}}/res"

        - name: Upload Build Artifacts
          uses: actions/upload-artifact@v2
          with:
              name: compiled-application
              path: ${{github.workspace}}/build/
